In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import string
%matplotlib inline
train = pd.read_csv('train.csv')
train.head()

,ID,target,48df886f9,0deb4b6a8,34b15f335,a8cb14b00,2f0771a37,30347e683,d08d1fbe3,6ee66e115,...,3ecc09859,9281abeea,8675bec0b,3a13ed79a,f677d4d13,71b203550,137efaa80,fb36b89d9,7e293fbaf,9fc776466
0,000d6aaf2,38000000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,000fbd867,600000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0027d6b71,10000000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0028cbf45,2000000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,002a68644,14400000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [2]:
train.shape

(4459, 4993)

In [3]:
#Deleting all columns with zero variance.
zer_var_columns = []
all_columns = train.columns
for i in all_columns:
    if train[i].nunique() == 1:
        zer_var_columns.append(i)

In [4]:
len(zer_var_columns)

256

In [5]:
train = train.drop(zer_var_columns,axis=1)

In [6]:
#Deleting columns with duplicate values.
dup_val_columns = []
all_columns = train.columns
for i in range(len(all_columns)-1):
    v = train[all_columns[i]].values
    dupCols = []
    for j in range(i + 1,len(all_columns)):
        if np.array_equal(v, train[all_columns[j]].values):
            dup_val_columns.append(all_columns[j])

In [7]:
train = train.drop(dup_val_columns,axis=1)

In [8]:
target = train.target

In [9]:
train.head()

,ID,target,48df886f9,0deb4b6a8,34b15f335,a8cb14b00,2f0771a37,30347e683,d08d1fbe3,6ee66e115,...,3ecc09859,9281abeea,8675bec0b,3a13ed79a,f677d4d13,71b203550,137efaa80,fb36b89d9,7e293fbaf,9fc776466
0,000d6aaf2,38000000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,000fbd867,600000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0027d6b71,10000000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0028cbf45,2000000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,002a68644,14400000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
train = train.drop(['ID'],axis=1)

In [12]:
test = pd.read_csv('test.csv')

In [13]:
test = test.drop(zer_var_columns,axis=1)
test = test.drop(dup_val_columns,axis=1)
test_id = test['ID']
test = test.drop(['ID'],axis=1)

In [16]:
from sklearn.linear_model import LinearRegression

In [18]:
lr = LinearRegression()
lr.fit(train,target)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [20]:
test.head()

,48df886f9,0deb4b6a8,34b15f335,a8cb14b00,2f0771a37,30347e683,d08d1fbe3,6ee66e115,20aa07010,dc5a8f1d8,...,3ecc09859,9281abeea,8675bec0b,3a13ed79a,f677d4d13,71b203550,137efaa80,fb36b89d9,7e293fbaf,9fc776466
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
train.head()

,target,48df886f9,0deb4b6a8,34b15f335,a8cb14b00,2f0771a37,30347e683,d08d1fbe3,6ee66e115,20aa07010,...,3ecc09859,9281abeea,8675bec0b,3a13ed79a,f677d4d13,71b203550,137efaa80,fb36b89d9,7e293fbaf,9fc776466
0,38000000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,600000,0,0,0,0,0,0,0,0,2200000,...,0,0,0,0,0,0,0,0,0,0
2,10000000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2000000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,14400000,0,0,0,0,0,0,0,0,2000000,...,0,0,0,0,0,0,0,0,0,0